

header {
    width: 100%;
    height: auto;
    background-color: transparent;
    position: absolute;

    .container {
        .navbar {
            .container-fluid {
                .collapse {

                    ul {
                        li {
                            .nav-link {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

#home {
    width: 100%;
    height: 700px;
    background-image: url(/assets/img/master-slides-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;

    .hometext {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        span {
            font-size: 60px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
        }

        h2 {
            font-size: 100px;
            color: white;
            font-weight: 900;
        }

        .homebutton {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 150px;
                height: 30px;
                border: none;
                color: #EC1D25;
                border-radius: 4px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

    }
}

#italian {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

    .italiancontent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

    }

    .italianimage {
        width: 80%;


        img {
            max-width: 100%;
        }
    }
}

#discover {
    width: 100%;
    height: auto;
    background-image: url(/assets/img/bg-intro-01.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;

    .discovertext {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;

        p {
            font-size: 30px;
            color: rgb(255, 0, 0);
        }

        h3 {
            font-size: 60px;
            color: white;
        }
    }
}

#comnucation {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    .restaurant {
        margin-bottom: 30px;
        margin-top: 30px;

        span {
            a {
                list-style: none;
            }

        }
    }
}

#product {
    width: 100%;
    height: auto;
    .boxbtn{
        margin: 20px;
    }

    .boximage {
        max-width: 100%;
    }
    .loadbtn{
        background-color: aquamarine;
        border-radius: 50px;
        border: none;
        padding:5px;
        color: red;
        margin-bottom: 20px;

    }

    .boxbtn {
        background-color: rgb(38, 185, 1);
        border: none;
        padding: 5px;
        border-radius: 50px;

    }
    .loadbtn{
        justify-content: end;
    }
}